{% load static %}
{% load i18n %}
{% load form_extras %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}

<body>
    {% include 'includes/navbar.html' %}

    <!-- HERO -->
    {% if active_event %}
    <section class="section with-background">
        <section class="section-content">
            <div class="hero">
                <div class="hero-content">
                    <div class="hero-title">
                        <h1>{{ active_event.title }}<span class="title-type">{{ active_event.event_type.title_code }}</span><span class="title-spot">{{ active_event.title_spot }}</span></h1>
                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}{{ active_event.description }}{% endif %}
                            {% if LANGUAGE_CODE == 'uz' %}{{ active_event.description_uz }}{% endif %}
                            {% if LANGUAGE_CODE == 'en' %}{{ active_event.description_en }}{% endif %}
                        </p>

                        <!-- Event Details -->
                        <div class="event-details">
                            <div class="event-info">
                                <h3>16 {% trans 'августа' %} 2025 {% trans 'года' %}, 09:30</h3>
                                <p><strong>{% trans 'Адрес:' %}</strong> {% trans 'Ташкентский Финансовый Институт (ориентир станция метро Минор)' %}</p>
                            </div>
                        </div>

                        <div class="hero-details">
                            <div>
                                <div class="countdown-timer">
                                    <div class="days"><span>24</span><span>{% trans 'дней'%}</span></div>
                                    <div class="hours"><span>22</span><span>{% trans 'часов'%}</div>
                                    <div class="minutes"><span>22</span><span>{% trans 'минут'%}</div>
                                    <div class="seconds"><span>22</span><span>{% trans 'секунд'%}</div>
                                </div>

                                <p class="timer-message">{% trans 'осталось до начала мероприятия'%}</p>
                            </div>
                        </div>
                    </div>

                    <div class="registration-form">
                        <!-- Project Registration Closed Notice -->
                        <div class="registration-notice">
                            <ul class="messages">
                                <li class="info">{% trans "Регистрация проектов завершена!" %}</li>
                            </ul>
                        </div>

                        <!-- Guest Registration Form -->
                        <div class="guest-registration">
                            <h3>{% trans 'Регистрация гостей' %}</h3>
                            <p>{% trans 'Хотите посетить мероприятие в качестве гостя? Зарегистрируйтесь здесь!' %}</p>

                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <form class="form" action="{% url 'events:register-guest'%}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        {% if guest_form.name.errors %}
                                            <label>{{ guest_form.name.errors.0 }}</label>
                                            {{ guest_form.name|add_class:"input-error" }}
                                        {% else %}
                                            <label>{{ guest_form.name.label }}</label>
                                            {{ guest_form.name }}
                                        {% endif %}
                                    </div>

                                    <div class="input-group">
                                        {% if guest_form.phone.errors %}
                                            <label>{{ guest_form.phone.errors.0 }}</label>
                                            {{ guest_form.phone|add_class:"input-error" }}
                                        {% else %}
                                            <label>{{ guest_form.phone.label }}</label>
                                            {{ guest_form.phone }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        {% if guest_form.tg.errors %}
                                            <label>{{ guest_form.tg.errors.0 }}</label>
                                            {{ guest_form.tg|add_class:"input-error" }}
                                        {% else %}
                                            <label>{{ guest_form.tg.label }}</label>
                                            {{ guest_form.tg }}
                                        {% endif %}
                                    </div>

                                    <div class="input-group">
                                        {% if guest_form.consent.errors %}
                                            <label>{{ guest_form.consent.errors.0 }}</label>
                                            {{ guest_form.consent|add_class:"input-error" }}
                                        {% else %}
                                            <label>{{ guest_form.consent.label }}</label>
                                            {{ guest_form.consent }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <button type="submit" class="reg-button">{% trans 'Зарегистрироваться как гость'%}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% endif %}


    <!-- ABOUT -->
    <section class="section">
        <section class="section-content">
            <div class="about" id="about">
                <h2 class="section-heading" >{% trans 'О нас'%}</h2>
                <div class="about-content">
                    <div class="about-image"></div>

                    <div class="about-text">
                        <p class="light">{% trans 'PizzaPitch — это уникальная платформа продвижения, которая объединяет основателей стартапов, предпринимателей, менторов и экспертов в одном месте для поддержки инноваций и развития бизнеса.' %}</p>
                        <p class="light">{% trans 'Участники также могут принимать участие в тренингах и расширять свои деловые связи, находя потенциальных партнеров или инвесторов.' %}</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- EVENTS -->
    <section class="section with-background">
        <section class="section-content">
            <div class="events" id="events">
                <h2 class="section-heading" >{% trans 'Наши мероприятия' %}</h2>

                <ul class="event-list">
                    <li class="event-item">
                        <img class="hero-section-image" src="{% static 'images/hero-image.jpg'%}" alt="">
                        <a href="#">
                            <h3>PizzaPitch Mini</h3>
                            <div class="event-cycles">
                                <p>Kids</p>
                                <p>FinTech</p>
                                <p>GameDev</p>
                            </div>
                        </a>
                    </li>

                    <li class="event-item">
                        <img class="hero-section-image" src="{% static 'images/pizzapitch-women.jpg'%}" alt="">
                        <a href="#">
                            <h3>PizzaPitch Women</h3>
                            <div class="event-cycles">
                                <p>2023</p>
                                <p>2024</p>
                            </div>
                        </a>
                    </li>

                    <li class="event-item">
                        <img class="hero-section-image" src="{% static 'images/hero-image.jpg'%}" alt="">
                        <a href="#">
                            <h3>PizzaPitch XL</h3>
                            <div class="event-cycles">
                                <p>2023</p>
                                <p>2024</p>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </section>
    </section>

    <!-- PARTNERS -->
    {% if partners %}
    <section class="section">
        <section class="section-content">
            <div class="partners" id="partners">
                <h2 class="section-heading">{% trans 'Наши партнеры' %}</h2>
                <div class="partners-content">
                    <ul class="partner-list">
                        {% for partner in partners %}
                            <li class="partner-item"><a href="{{ partner.website }}" target="_blank"><img src="{{ partner.image.url }}" alt="{{ partner.name }}"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </section>
    {% endif %}

    <!-- MENTORS -->
    {% if mentors %}
    <section class="section with-background">
        <section class="section-content">
            <div class="mentors" id="mentors">
                <h2 class="section-heading" >{% trans 'Наши менторы' %}</h2>
                <div class="mentors-content">
                    <ul class="mentor-list">
                        {% for mentor in mentors %}
                        <li class="mentor-item">
                            {% if mentor.image %}
                                <img src="{{ mentor.image.url }}" alt="{{ mentor.name }}">
                            {% endif %}
                            <div class="mentor-data">
                                <p>
                                    {% if LANGUAGE_CODE == 'ru' %}{{ mentor.name }}{% endif %}
                                    {% if LANGUAGE_CODE == 'uz' %}{{ mentor.name_uz }}{% endif %}
                                    {% if LANGUAGE_CODE == 'en' %}{{ mentor.name_en }}{% endif %}
                                </p>
                                <p>
                                    {% if LANGUAGE_CODE == 'ru' %}{{ mentor.position }}{% endif %}
                                    {% if LANGUAGE_CODE == 'uz' %}{{ mentor.position_uz }}{% endif %}
                                    {% if LANGUAGE_CODE == 'en' %}{{ mentor.position_en }}{% endif %}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </section>
    {% endif %}

    <!-- CONTACTS -->
    <section class="section">
        <section class="section-content">
            <div class="contacts" id="contacts">
                <h2 class="section-heading">{% trans 'Будьте в курсе всех новостей' %}</h2>
                <div class="contacts-content">
                    <div class="socials">
                        <div class="socials-text">
                            <p>{% trans 'Подпишитесь на наш телеграм канал и будьте в курсе всех актуальных новостей или свяжитесь с нами.' %}</p>
                        </div>

                        <div class="tg-links">
                            <a href="https://t.me/pizzapitchuz_team" target="_blank">{% trans 'Написать нам'%}</a>
                            <a href="https://t.me/pizzapitchuz" target="_blank">{% trans 'Подписаться'%}</a>
                        </div>
                    </div>
                    <div class="qr">
                        <img src="{% static 'images/qr-code.png'%}" alt="">
                    </div>
                </div>
            </div>
        </section>
    </section>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Set the event start date and time: August 16, 2025, 09:30
            const eventDate = new Date('2025-08-16T09:30:00');

            function updateCountdown() {
                const now = new Date();
                const diff = eventDate - now;

                if (diff <= 0) {
                    document.querySelector('.countdown-timer').innerHTML = "<span>{% trans 'Мероприятие началось!' %}</span>";
                    return;
                }

                const days = Math.floor(diff / (1000 * 60 * 60 * 24));
                const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((diff / (1000 * 60)) % 60);
                const seconds = Math.floor((diff / 1000) % 60);

                document.querySelector('.countdown-timer .days span').textContent = days.toString().padStart(2, '0');
                document.querySelector('.countdown-timer .hours span').textContent = hours.toString().padStart(2, '0');
                document.querySelector('.countdown-timer .minutes span').textContent = minutes.toString().padStart(2, '0');
                document.querySelector('.countdown-timer .seconds span').textContent = seconds.toString().padStart(2, '0');
            }

            updateCountdown();
            setInterval(updateCountdown, 1000);
        });
    </script>

    <script defer>
        var wrapperMenu = document.querySelector('.wrapper-menu');
        var navItems = document.querySelector('.nav-items');
        var lang = document.querySelector('.lang');

        wrapperMenu.addEventListener('click', function(){
            wrapperMenu.classList.toggle('open');
            navItems.classList.toggle('nav-open');
            lang.classList.toggle('lang-open');
        });
    </script>
</body>

</html>
