{% load static %}
{% load i18n %}
{% load form_extras %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js', 'ym');

    ym(102241114, 'init', {clickmap:true, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/102241114" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<body>
    {% include 'includes/navbar.html' %}

    <!-- HERO -->
    <!-- <section class="section with-background">
        <section class="section-content">
            <div class="promo">
                <div class="promo-image">
                    <img src="{% static 'images/promo.jpg' %}" alt="Promo Image">
                </div>

                <div class="event-agenda">
                    <h3>{% trans 'Программа мероприятия'%}</h3>
                    <ul class="agenda-details">
                        <li class="agenda-detail">
                            <div class="detail-time">09:00 - 10:30</div>
                            <div class="detail-title">{% trans 'Регистрация участников и открытие'%} </div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">10:30 - 12:30</div>
                            <div class="detail-title">{% trans 'Отбор проектов / квалификация (в комнатах)'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">10:30 - 11:30</div>
                            <div class="detail-title">{% trans 'Лекция от эксперта (общий зал)'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">11:30 - 12:30</div>
                            <div class="detail-title">{% trans 'Kahoot конкурс (общий зал)'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">12:30 - 13:20</div>
                            <div class="detail-title">{% trans 'Обсуждение жюри / Обед'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">13:20 - 13:30</div>
                            <div class="detail-title">{% trans 'Сессия от эксперта U-Enter'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">13:30 - 13:40</div>
                            <div class="detail-title">{% trans 'Объявление финалистов'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">13:40 - 15:40</div>
                            <div class="detail-title">{% trans 'Финальный этап'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">15:40 - 15:50</div>
                            <div class="detail-title">{% trans 'Обсуждение жюри / Конкурс для участников'%}</div>
                        </li>

                        <li class="agenda-detail">
                            <div class="detail-time">15:50 - 16:00</div>
                            <div class="detail-title">{% trans 'Объявление и награждение победителей'%}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section> -->

    {% if active_event %} 
    <section class="section with-background">
        <section class="section-content">
            <div class="hero">
                <div class="hero-content">
                    <div class="hero-title">
                        <h1>{{ active_event.title }}<span class="title-type">{{ active_event.event_type.title_code }}</span><span class="title-spot">{{ active_event.title_spot }}</span></h1>
                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}{{ active_event.description }}{% endif %}
                            {% if LANGUAGE_CODE == 'uz' %}{{ active_event.description_uz }}{% endif %}
                            {% if LANGUAGE_CODE == 'en' %}{{ active_event.description_en }}{% endif %}                            
                        </p>

                        <div class="hero-details">
                            <div class="logistics">
                                <p>
                                {% if LANGUAGE_CODE == 'ru' %}Адрес: {{ active_event.location }}{% endif %}
                                {% if LANGUAGE_CODE == 'uz' %}Manzil: {{ active_event.location_uz }}{% endif %}
                                {% if LANGUAGE_CODE == 'en' %}Address: {{ active_event.location_en }}{% endif %}  
                                </p>

                                <p>
                                {% if LANGUAGE_CODE == 'ru' %}Дата: {{ active_event.date }}{% endif %}
                                {% if LANGUAGE_CODE == 'uz' %}Sana: {{ active_event.date }}{% endif %}
                                {% if LANGUAGE_CODE == 'en' %}Date: {{ active_event.date }}{% endif %}  
                                </p>

                                <p></p>
                            </div>
                            {% if not active_event.registration_closed %}
                            <div>
                                <div class="countdown-timer">
                                    <div class="days"><span>24</span><span>{% trans 'дней'%}</span></div>
                                    <div class="hours"><span>22</span><span>{% trans 'часов'%}</div>
                                    <div class="minutes"><span>22</span><span>{% trans 'минут'%}</div>
                                    <div class="seconds"><span>22</span><span>{% trans 'секунд'%}</div>
                                </div>

                                <p class="timer-message"><a href="#start-registration">{% trans 'осталось до окончания регистрации'%}</a>
                                </p>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="registration-form">
                        {% if registration_type == 'standard' or registration_type == 'premium' %}
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                            {% if registration_type == 'premium' %}
                                                {% if LANGUAGE_CODE == 'ru' %}
                                                    Мы получили вашу заявку! 🎉. 
                                                    <p class="payment-message">{% trans 'Для завершения регистрации Premium Pass, пожалуйста, оплатите 500,000 сум по ссылкам ниже.'%}</p>
                                                    <div class="payment-links">
                                                        <a class="payment-link" href="https://transfer.paycom.uz/60c9fdbbd54cf9fd7ef9aba8" target="_blank">{% trans 'Оплата через Payme'%}</a>
                                                        <a class="payment-link" href="https://indoor.click.uz/pay?id=021696&t=0" target="_blank">{% trans 'Оплата через Click' %}</a>
                                                    </div>
                                                {% endif %}

                                                {% if LANGUAGE_CODE == 'uz' %}
                                                    Arizangizni qabul qildik! 🎉
                                                    <p class="payment-message">{% trans 'Для завершения регистрации Premium Pass, пожалуйста, оплатите 500,000 сум по ссылкам ниже.'%}</p>
                                                    <div class="payment-links">
                                                        <a class="payment-link" href="https://transfer.paycom.uz/60c9fdbbd54cf9fd7ef9aba8" target="_blank">{% trans 'Оплата через Payme'%}</a>
                                                        <a class="payment-link" href="https://indoor.click.uz/pay?id=021696&t=0" target="_blank">{% trans 'Оплата через Click' %}</a>
                                                    </div>
                                                {% endif %}

                                                {% if LANGUAGE_CODE == 'en' %}
                                                    We've received your application! 🎉 
                                                    <p class="payment-message">{% trans 'Для завершения регистрации Premium Pass, пожалуйста, оплатите 500,000 сум по ссылкам ниже.'%}</p>
                                                    <div class="payment-links">
                                                        <a class="payment-link" href="https://transfer.paycom.uz/60c9fdbbd54cf9fd7ef9aba8" target="_blank">{% trans 'Оплата через Payme'%}</a>
                                                        <a class="payment-link" href="https://indoor.click.uz/pay?id=021696&t=0" target="_blank">{% trans 'Оплата через Click' %}</a>
                                                    </div>
                                                {% endif %}     
                                            {% elif registration_type == 'standard' %}
                                                {% if LANGUAGE_CODE == 'ru' %}Мы получили вашу заявку на участие! Спасибо за интерес. Мы с вами свяжемся.{% endif %}
                                                {% if LANGUAGE_CODE == 'uz' %}Arizangizni qabul qildik! Qiziqish uchun rahmat. Siz bilan bog'lanamiz.{% endif %}
                                                {% if LANGUAGE_CODE == 'en' %}We have received your application! Thank you for the interest. We will contact you.{% endif %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <form class="form" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        {% if registration_type == 'premium' %}
                                            <h3 class="premium-registration-heading">{% trans 'Premium Pass Регистрация' %}</h3>
                                        {% endif %}
                                        {% if registration_type == 'standard' %}
                                            <h3 class="free-registration-heading">{% trans 'Standard Pass Регистрация' %}</h3>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            {% if form.name.errors %}
                                                <label>{{ form.name.errors.0 }}</label>
                                                {{ form.name|add_class:"input-error" }}
                                            {% else %}
                                                <label>{{ form.name.label }}</label>
                                                {{ form.name }} 
                                            {% endif %}
                                        </div>
                                        <div class="input-group">
                                            {% if form.phone.errors %}
                                                <label>{{ form.phone.errors.0 }}</label>
                                                {{ form.phone|add_class:"input-error" }}
                                            {% else %}
                                                <label>{{ form.phone.label }}</label>
                                                {{ form.phone }} 
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            {% if form.tg.errors %}
                                                <label>{{ form.tg.errors.0 }}</label>
                                                {{ form.tg|add_class:"input-error" }}
                                            {% else %}
                                                <label>{{ form.tg.label }}</label>
                                                {{ form.tg }} 
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            {% if form.startup.errors %}
                                                <label>{{ form.startup.errors.0 }}</label>
                                                {{ form.startup|add_class:"input-error" }}
                                            {% else %}
                                                <label>{{ form.startup.label }}</label>
                                                {{ form.startup }} 
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        {% if form.startup_description.errors %}
                                            <label>{{ form.startup_description.errors.0 }}</label>
                                            {{ form.startup_description|add_class:"input-error" }}
                                        {% else %}
                                            <label>{{ form.startup_description.label }}</label>
                                            {{ form.startup_description }} 
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            {% if form.presentation_link.errors %}
                                                <label>{{ form.presentation_link.errors.0 }}</label>
                                                {{ form.presentation_link|add_class:"input-error" }}
                                            {% else %}
                                                <label>{{ form.presentation_link.label }}</label>
                                                {{ form.presentation_link }} 
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            {% if form.participants_consent.errors %}
                                                <label>{{ form.participants_consent.errors.0 }}</label>
                                                {{ form.participants_consent|add_class:"input-error" }}
                                            {% else %}
                                                <label>{{ form.participants_consent.label }}</label>
                                                {{ form.participants_consent }} 
                                            {% endif %}
                                        </div>
                                    </div>
                                    {{ form.registration_type }}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <button type="submit" class="reg-button">{% trans 'Отправить заявку'%}</button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        {% else %}
                            <div class="features">
                                <div class="premium-features">
                                    <h3>{% trans 'Premium Pass' %}</h3>
                                    <div>
                                        <div class="premium-feature"><p>{% trans 'Кофе-брейк и пицца' %}</p></div>
                                        <div class="premium-feature"><p>{% trans 'Персонализированная обратная связь от приглашенных экспертов' %}</p></div>
                                        <div class="premium-feature"><p>{% trans 'Прямой вход в PizzaPitch без процесса отбора' %}</p></div>
                                        <div class="premium-feature"><p>{% trans 'Индивидуальные менторские сессии с отраслевыми экспертами' %}</p></div>
                                        <div class="premium-feature"><p>{% trans 'Презентация профиля стартапа клубу CS// Angels Club' %}</p></div>
                                        <div class="premium-feature"><p>{% trans 'Шанс выиграть сертификат C-Space стоимостью до 3 миллионов сумов' %}</p></div>
                                    </div>
                                    <a class="premium-feature-button reg-button" href="{% url 'events:premium-registration' %}">{% trans 'Регистрация с Premium Pass'%}</a>
                                </div>
                                <div class="free-features">
                                    <h3>{% trans 'Standard Pass' %}</h3>
                                    <div>
                                        <div class="free-feature"><p>{% trans 'Кофе-брейк и пицца' %}</p></div>
                                        <div class="free-feature"><p>{% trans 'Групповая сессия обратной связи с приглашенными экспертами' %}</p></div>
                                        <div class="free-feature"><p>{% trans 'Стандартное участие в PizzaPitch (при условии прохождения отбора)' %}</p></div>
                                    </div>
                                    <a class="free-feature-button reg-button" href="{% url 'events:standard-registration' %}">{% trans 'Регистрация с Standard Pass'%}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% endif %}


    <!-- ABOUT -->
    <section class="section with-background">
        <section class="section-content">
            <div class="about" id="about">
                <h2 class="section-heading" >{% trans 'О нас'%}</h2>
                <div class="about-content">
                    <div class="about-image"></div>

                    <div class="about-text">
                        <p class="light">{% trans 'PizzaPitch — это уникальная платформа продвижения, которая объединяет основателей стартапов, предпринимателей, менторов и экспертов в одном месте для поддержки инноваций и развития бизнеса.' %}</p>
                        <p class="light">{% trans 'Участники также могут принимать участие в тренингах и расширять свои деловые связи, находя потенциальных партнеров или инвесторов.' %}</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- EVENTS -->
    <section class="section">
        <section class="section-content">
            <div class="events" id="events">
                <h2 class="section-heading" >{% trans 'Наши мероприятия' %}</h2>

                <ul class="event-list">
                    <li class="event-item">
                        <img class="hero-section-image" src="{% static 'images/hero-image.jpg'%}" alt="PizzaPitch Mini Event Photo">
                        <a href="#">
                            <h3>PizzaPitch Mini</h3>
                            <div class="event-cycles">
                                <p>Kids</p>
                                <p>FinTech</p>
                                <p>GameDev</p>
                            </div>
                        </a>
                    </li>

                    <li class="event-item">
                        <img class="hero-section-image" src="{% static 'images/pizzapitch-women.jpg'%}" alt="PizzaPitch Women Event Photo">
                        <a href="#">
                            <h3>PizzaPitch Women</h3>
                            <div class="event-cycles">
                                <p>2023</p>
                                <p>2024</p>
                                <p>2025</p>
                            </div>
                        </a>
                    </li>

                    <li class="event-item">
                        <img class="hero-section-image" src="{% static 'images/pizza-pitch-xl.png'%}" alt="PizzaPitch XL Event Photo">
                        <a href="#">
                            <h3>PizzaPitch XL</h3>
                            <div class="event-cycles">
                                <p>2023</p>
                                <p>2024</p>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
        </section>
    </section>

    <!-- PARTNERS -->
    {% if partners %}
    <section class="section with-background">
        <section class="section-content">
            <div class="partners" id="partners">
                <h2 class="section-heading">{% trans 'Наши партнеры' %}</h2>
                <div class="partners-content">
                    <ul class="partner-list">
                        {% for partner in partners %}
                            <li class="partner-item"><a href="{{ partner.website }}" target="_blank"><img src="{{ partner.image.url }}" alt="{{ partner.name }}"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </section>
    {% endif %}

    <!-- MENTORS -->
    {% if mentors %}
    <section class="section">
        <section class="section-content">
            <div class="mentors" id="mentors">
                <h2 class="section-heading" >{% trans 'Наши менторы' %}</h2>
                <div class="mentors-content">
                    <ul class="mentor-list">
                        {% for mentor in mentors %}
                        <li class="mentor-item">
                            {% if mentor.image %}
                                <img src="{{ mentor.image.url }}" alt="{{ mentor.name }}">
                            {% endif %}
                            <div class="mentor-data">
                                <p>
                                    {% if LANGUAGE_CODE == 'ru' %}{{ mentor.name }}{% endif %}
                                    {% if LANGUAGE_CODE == 'uz' %}{{ mentor.name_uz }}{% endif %}
                                    {% if LANGUAGE_CODE == 'en' %}{{ mentor.name_en }}{% endif %}
                                </p>
                                <p>
                                    {% if LANGUAGE_CODE == 'ru' %}{{ mentor.position }}{% endif %}
                                    {% if LANGUAGE_CODE == 'uz' %}{{ mentor.position_uz }}{% endif %}
                                    {% if LANGUAGE_CODE == 'en' %}{{ mentor.position_en }}{% endif %}
                                </p>
                            </div> 
                        </li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>  
        </section>
    </section>
    {% endif %}

    <!-- CONTACTS -->
    <section class="section with-background">
        <section class="section-content">
            <div class="contacts" id="contacts">
                <h2 class="section-heading">{% trans 'Будьте в курсе всех новостей' %}</h2>
                <div class="contacts-content">
                    <div class="socials">
                        <div class="socials-text">
                            <p>{% trans 'Подпишитесь на наш телеграм канал и будьте в курсе всех актуальных новостей или свяжитесь с нами.' %}</p>
                        </div>

                        <div class="tg-links">
                            <a href="https://t.me/pizzapitchuz_team" target="_blank">{% trans 'Написать нам'%}</a>
                            <a href="https://t.me/pizzapitchuz" target="_blank">{% trans 'Подписаться'%}</a>
                        </div>

                        <div class="socials-text support-org">
                            <p>{% trans 'Платформа PizzaPitch реализуется при технической и программной поддержке' %} <a href="https://t.me/undpuzbekistan" target="_blank">{% trans 'ПРООН Узбекистан' %}.</a></p>
                        </div>
                    </div>
                    <div class="qr">
                        <img src="{% static 'images/qr-code.png'%}" alt="">
                    </div>
                </div>
            </div>
        </section>
    </section>

    {% if not active_event.registration_closed %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const deadlineStr = "{{ active_event.registration_deadline|date:'Y-m-d H:i:s' }}";
                const deadline = new Date(deadlineStr.replace(' ', 'T'));

                function updateCountdown() {
                    const now = new Date();
                    const diff = deadline - now;

                    if (diff <= 0) {
                        document.querySelector('.countdown-timer').innerHTML = "<span>00</span> <span>00</span> <span>00</span> <span>00</span>";
                        return;
                    }

                    const days = Math.floor(diff / (1000 * 60 * 60 * 24));
                    const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
                    const minutes = Math.floor((diff / (1000 * 60)) % 60);
                    const seconds = Math.floor((diff / 1000) % 60);

                    document.querySelector('.countdown-timer .days span').textContent = days.toString().padStart(2, '0');
                    document.querySelector('.countdown-timer .hours span').textContent = hours.toString().padStart(2, '0');
                    document.querySelector('.countdown-timer .minutes span').textContent = minutes.toString().padStart(2, '0');
                    document.querySelector('.countdown-timer .seconds span').textContent = seconds.toString().padStart(2, '0');
                }

                updateCountdown();
                setInterval(updateCountdown, 1000);
            });
        </script>
    {% endif %}

    <script defer> 
        var wrapperMenu = document.querySelector('.wrapper-menu');
        var navItems = document.querySelector('.nav-items');
        var lang = document.querySelector('.lang');

        wrapperMenu.addEventListener('click', function(){
            wrapperMenu.classList.toggle('open');  
            navItems.classList.toggle('nav-open');
            lang.classList.toggle('lang-open');
        });
    </script>
</body>

</html>