{% load static %}
{% load i18n %}
{% load form_extras %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}

<body>
    {% include 'includes/navbar.html' %}

    <section class="section">
        <section class="section-content">

            <h1 class="active-event-title">{{ active_event.title }} {{active_event.title_spot}}</h1>

            <div class="active-event-info">
                <div>
                    <p>Location: {{ active_event.location }}</p>
                    <p>Date: {{ active_event.date }}</p>
                    <p>Registration Deadline {{ active_event.registration_deadline }}</p>
                    <p>Number of registrations: {{ registered_people|length }}</p>
                </div>
            </div>

            <h4 class="active-event-title">Registered participants</h1>

            <div class="participants">
                {% if registered_people %}
                <ul>
                    {% for rp in registered_people %}
                    <li class="participant">
                        <h4 class="participant-startup"><a href="{{ rp.presentation_link }}" target="_blank">{{ rp.startup }}</a></h4>
                        <p class="participant-startup-description">{{rp.startup_description}}</p>
                        <p class="participant-name">Founder: {{ rp.name }}</p>
                        <p class="participant-phone">Phone: {{ rp.phone }}</p>
                        <p class="participant-telegram">Telegram: {{ rp.tg }}</p>
                        <p class="participant-consent">Consent: {{ rp.consent }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section> 
    </section>

    

    <script defer> 
        var wrapperMenu = document.querySelector('.wrapper-menu');
        var navItems = document.querySelector('.nav-items');
        var lang = document.querySelector('.lang');

        wrapperMenu.addEventListener('click', function(){
            wrapperMenu.classList.toggle('open');  
            navItems.classList.toggle('nav-open');
            lang.classList.toggle('lang-open');
        });
    </script>
</body>

</html>